@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  /* height: ;
  width: 100%; */
  font-family: 'Roboto', sans-serif;
   
}

.main{
  margin-top:80px;
}

.button {
    padding: 20px;
    margin: 0 3px;
    width: 76px;
    font-size: 18px;
    color: white;
    background: #211919;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row {
  margin: 8px 0px;
}


 
.row input {
    width: 330px;
    font-size: 20px;
    margin: 0;
    color: navy;
    background: aqua;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}

.container {
    background-color: #9e7b7b;
    width: 26%;
    border: 2px solid black;
    border-radius: 12px;
}

.text-center {
  text-align: center;
  background-color: #5378e1;
  width: 26%;
  color: white;
  border: 2px solid black;
  border-radius: 7px;
  margin:3px auto;
  height: 61px;
  padding-top: 17px;
  justify-content: center;
  align-items: center;
}



.mx-auto {
margin: auto;
}

.flex {
display: flex;
}

.flex-col {
flex-direction: column;
}

.items-center {
align-items: center;
}

@media (max-width:1170px){
  .text-center {
    width:56%;
    font-size: 28px;
    height: 61px;
    padding-top: 17px;
  }
  
  .container{
    width: 359px;
  }
}
